{% load static %}



<!DOCTYPE html>
<html lang="en">

  
    <head>
        <title>UFO GROWSHOP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
     
        <!-- mi CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    

<body>


    <!-- header -->
    <header class="bg-light">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/icono.png' %}">
                    </a>
                </div>
                <div class="col-auto">
                    <a href="{% url 'entrar' %}" class="btn btn-primary mr-3">Iniciar sesión</a>
                    <a href="{% url 'carrito' %}" class="btn btn-secondary">Carrito</a>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Barra de navegación -->
    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ofertas' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'semillas' %}">Semillas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'parafernalia' %}">Parafernalia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cultivo' %}">Cultivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
      </nav>
      
      <div class="container">
        <h3>Agregar Proveedor</h3>
        <div class="form-container">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <label class="success">{{ message }}</label>
            {% endif %}
            {% endfor %}
            {% endif %}
            <form action="{% url 'agregar_proveedor' %}" method="POST">
                {% csrf_token %}
                <pre>ID Proveedor: <input type="text" name="id_prov"></pre>
                <pre>Nombre: <input type="text" name="nombre"></pre>
                <pre>Fecha de Compra: <input type="date" name="fecha_compra"></pre>
                <pre>Teléfono: <input type="text" name="telefono"></pre>
                <pre>Email: <input type="email" name="email"></pre>
                <pre>Dirección: <input type="text" name="direccion"></pre>
                <pre>Categoría:
                    <select name="id_cat_prove">
                        {% for catprove in categorias %}
                        <option value="{{ catprove.id_cat_prove }}">{{ catprove.nombre_catprove }}</option>
                        {% endfor %}
                    </select>
                </pre>
                <input type="submit" value="Agregar">
            </form>
        </div>
        <a href="{% url 'panel' %}">Volver</a>
    </div>
    
    















    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Popper.js -->
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>


  <!-- mijs -->
  <script src="{% static 'js/script.js' %}"></script>


</body>

</html>




    
</body>
</html>